<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KinKin - 勤怠管理</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <nav>
    <%= link_to 'ホーム', root_path %> |
    <%= link_to 'ログイン', new_session_path unless current_user %> |
    <%= form_with url: logout_path, method: :delete, local: true do %>
      <%= submit_tag '退勤' %>
    <% end %>


  </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p>&copy; 2025 KinKin 勤怠管理</p>
  </footer>
</body>
</html>
